@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    table {
        border-collapse: collapse;
        width: 100%;
    }
    table, th, td {
        border: 1px solid #d1d5db;
    }
    th, td {
        padding: 0.5rem 1rem;
    }
    th {
        background-color: #f3f4f6;
    }
}
